<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freebie: 4 Bootstrap Gallery Templates</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="../thumbnail-gallery.css">

</head>
<body>

<div class="container gallery-container">


    <h1>¡Bienvenidos a nuestro bar Ratitos en Triana!</h1>
  

    <p class="page-description text-center">Ubicado en el pintoresco barrio de Triana, nuestro local es el lugar perfecto para disfrutar de un ambiente animado y acogedor mientras degustas deliciosas bebidas y sabrosos platos. Nuestro bar ha sido diseñado cuidadosamente para reflejar la auténtica esencia de Triana,
       con su encanto tradicional y su vibrante energía.</p>
    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/cuadro2.jpg">
                        <img src="../img/cuadro2.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>El Ricón de Paco Pozo</h3>
                        <p>Un lugar especial creado por nuestro querido fundador"."El espíritu de Paco en cada detalle": 
                            Observa los detalles encantadores que adornan. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/local1.jpg">
                        <img src="../img/local1.jpg" alt="Bridge">
                    </a>
                    <div class="caption">
                        <h3>Nuestros azulejos de Mensaque</h3>
                        <p>Descubre la belleza y la artesanía de cada azulejo es una verdadera obra de arte, dedicación y habilidad por los expertos artesanos de Mensaque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/tirador.jpg">
                        <img src="../img/tirador.jpg" alt="Tunnel">
                    </a>
                    <div class="caption">
                        <h3>El tirador de RATITOS</h3>
                        <p>Tirador Ratitos: Un detalle encantador que marca la diferencia". Un toque de personalidad oara nuestra marca.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/entrada.jpg">
                        <img src="../img/entrada.jpg" alt="Coast">
                    </a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/lugar.jpg">
                        <img src="../img/lugar.jpg" alt="Rails">
                    </a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/local.jpg">
                        <img src="../img/local.jpg" alt="Traffic">
                    </a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>