<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad y Cookies</title>
</head>
<body>
    <header>
        <h1>Política de Privacidad y Cookies</h1>
    </header>
    <main>
        <section>
            <h2>Recopilación de Información</h2>
            <p>Cuando visitas nuestro sitio web, podemos recopilar cierta información sobre tu visita automáticamente a través de cookies y tecnologías similares...</p>
        </section>
        <section>
            <h2>Uso de la Información</h2>
            <p>Utilizamos la información recopilada para mejorar la experiencia del usuario en nuestro sitio web, personalizar el contenido y analizar el rendimiento del sitio...</p>
        </section>
        <section>
            <h2>Cookies</h2>
            <p>Las cookies son pequeños archivos de texto que se colocan en tu dispositivo para ayudar a nuestro sitio web a proporcionar una experiencia más personalizada.</p>
        </section>
        <section>
            <h2>Consentimiento</h2>
            <p>Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con esta política.</p>
        </section>
        <section>
            <h2>Cambios en la Política de Privacidad y Cookies</h2>
            <p>Nos reservamos el derecho de actualizar esta Política de Privacidad y Cookies en cualquier momento...</p>
        </section>
        <section>
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta sobre esta Política de Privacidad y Cookies, contáctanos en losratitosdetriana.com</p>
        </section>
    </main>
    <footer>
        <p>Derechos Reservados &copy; 2024 Ratitos de Triana S.L.</p>
        <!-- Botón de cancelar -->
        <a class="w-100 btn btn-lg btn-secondary mt-2 px-4 py-2" href="/">Volver</a>
    </footer>
</body>
</html>
