/* Seccion Separador */
#separadorSection {
  background: url(../img/brindis.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 450px; /* Ajusta la altura mínima según tus necesidades */
  padding: 50px 20px; /* Ajusta el espaciado interno según tus necesidades */
}

#separadorSection .texto-separador {
  max-width: 800px; /* Ajusta el ancho máximo del contenido según tus necesidades */
}

#separadorSection .texto-separador h2 {
  color: #70683c;
  font-size: 5vw; /* Utiliza unidades de viewport para hacer el tamaño de fuente responsive */
  margin-bottom: 20px; /* Espacio inferior entre el título y el párrafo */
}

#separadorSection .texto-separador p {
  font-size: 2vw; /* Utiliza unidades de viewport para hacer el tamaño de fuente responsive */
  color: #70683c;
  margin-bottom: 20px; /* Espacio inferior entre el párrafo y el botón */
}

#separadorSection .botones-evento {
  display: inline-block;
  padding: 10px 20px;
  background-color: #70683c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Consultas de medios para hacer la sección responsive */
@media (max-width: 768px) {
  #separadorSection .texto-separador h2 {
    font-size: 12vw; /* Ajusta el tamaño de fuente del título para pantallas más pequeñas */
  }

  #separadorSection .texto-separador p {
    font-size: 5vw; /* Ajusta el tamaño de fuente del párrafo para pantallas más pequeñas */
  }
}
