<section class="chef ">

    <div id="nosotros" class="contenido-chef contenedor">

      <div class="texto-chef">
        <h3>
          La exelencia está en la diversidad y el modo de progresar es conocer
          y comparar productos, para encontrar la calidad absoluta.
        </h3>
        <p></p>
        <p>
          En cada bocado, podrás disfrutar de sabores auténticos. Nuestro menú
          está inspirado en la diversidad culinaria tradicional. Además de
          nuestros deliciosos guisos caseros, y nuestra comida tradicional,
          nos esforzamos por ofrecer un ambiente acogedor y cálido, donde 
          nuestros clientes se sientan como en casa. Nuestro personal amable
          y atento estará encantado de guiarte a través de nuestro menú. 
          Te invitamos a que nos visites y descubras por ti mismo la atención al detalle y la pasión por la gastronomía
          que nos distingue. Estamos ansiosos por recibirte y brindarte una
          experiencia gastronómica inigualable.
        </p>
        <a href="#" class="botones botones-verde">Leer Bíografia</a>
      </div>
      <div class="imagen-chef">
        <img data-src="../img/loscuatro1.png" alt="loscuatro" />
      </div>
    </div>
  </section>