<section  id="nosotros" class="chef">

    <div class="contenido-chef contenedor">

      <div class="texto-chef">
        <h3>
          La exelencia está en la diversidad y el modo de progresar es conocer
          y comparar productos, para encontrar la calidad absoluta.
        </h3>
        <p></p>
        <p>
          "Nuestra firma distintiva es la búsqueda de la calidad absoluta. 
          En nuestro menú, podrás deleitarte con sabores auténticos inspirados en la diversidad culinaria tradicional. 
          Más allá de nuestros deliciosos guisos caseros y platos tradicionales, nos esforzamos por ofrecer un ambiente acogedor y cálido, donde nuestros clientes se sientan como en casa. 
          Te invitamos a que nos visites y descubras por ti mismo la atención al detalle y la pasión por la gastronomía que nos distinguen. 
          Estamos ansiosos por recibirte y brindarte una experiencia gastronómica inigualable."
        </p>
       
      </div>
      <div class="imagen-chef">
        <img data-src="../img/loscuatro1.png" alt="loscuatro" />
      </div>
    </div>
  </section>