<header id="contenedor-encabezado" class="encabezado">
  <div class="contenedor-navegacion">
    <div class="contenido-navegacion contenedor">
      <div class="logo">
        <h1 class="azul">
          Ratitos
          <span class="rojo">de</span>
          Triana
        </h1>
      </div>
      <ul class="nav nav-pills"> 
        <li class="nav-item"><a href="#separadorSection" class="nav-link">El Espacio</a></li>
        <li class="nav-item"><a href="#menu" class="nav-link">Menú</a></li>
        <li class="nav-item"><a href="#cv" class="nav-link">Envíanos tu CV</a></li>
      </ul>
    </div>
  </div>
  <div class="contenido-header">
    <div class="contenedor-encabezado">
      <div class="texto-encabezado">
        <h2>@ratitosdetriana</h2>
      </div>
      <video autoplay loop muted class="video-fondo">
        <source src="/bg_video.mp4" type="video/mp4" style="object-fit: cover;">
      </video>
    </div>
  </div>
</header>
