<header class="encabezado">
  <div class="contenedor-navegacion">
    <div class="contenido-navegacion contenedor">
      <div class="logo">
        <h1 class="azul">
          Ratitos
          <span class="rojo">de</span>
          Triana
        </h1>
      </div>
      <nav class="navegacion ocultar">
        <a href="#">Inicio</a>
        <a href="login">Login Administración</a>
        <a href="registro">Registro Administración</a>
        <a href="suscribirse">Suscripción Noticias</a>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Menú</a>
        <a href="#">Chef</a>
        <a href="#cv">Envianos tu CV</a> 
      </nav>
      <div class="hamburguesa">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="contenido-header">
    <div class="contenedor-encabezado">
      <div class="texto-encabezado">
        <h2>RATITOS!</h2>
        <a href="#menu" class="botones bordes">MENU</a>
      </div>
      <video autoplay loop muted>
        <source src="/bg_video.mp4" />
      </video>
    </div>
  </div>
</header>