<header class="encabezado">
  <div class="contenedor-navegacion">
    <div class="contenido-navegacion contenedor">
      <div class="logo">
        <h1 class="azul">
          Ratitos
          <span class="rojo">de</span>
          Triana
        </h1>
      </div>
        <ul class="nav nav-pills"> 
          <li class="nav-item"><a  href="cvnews" class="nav-link">Noticias</a></li>
          <li class="nav-item"><a  href="#menu" class="nav-link">Menú</a></li>
          <li class="nav-item"><a  href="#cv" class="nav-link">Envianos tu CV</a></li>
        </ul>

    </div>
  </div>
  <div class="contenido-header">
    <div class="contenedor-encabezado">
      <div class="texto-encabezado">
        <h2>RATITOS!</h2>
        
      </div>
      <video autoplay loop muted>
        <source src="/bg_video.mp4" />
      </video>
    </div>
  </div>

 
</header>