<section id="menu" class="menu contenedor">
    <h2 class="texto-platos"><span class="rojo">LA </span>CARTA RA<span class="rojo">TI</span>TOS</h2>
    <div class="botones-platos">
      <button class="todos botones botones-verde">Todos</button>
      <button class="tapasfrias botones botones-verde">tapas frias</button>
      <button class="guisos botones botones-verde">guisos</button>
      <button class="chacinas botones botones-verde">chacinas</button>
      <button class="mariscos botones botones-verde">mariscos</button>
      <button class="postres botones botones-verde">Postres</button>
    </div>
    <div class="platos-container">
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/aliñopulpo.jpg" alt="tapasfria" />
        <h2>Aliño de Pulpo</h2>
        <p>Pulpo cocido y cortado en trozos pequeños, con un variado de aliño de verduras.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/tomatemelva.jpg" alt="tapasfria" />
        <h2>Tomate Aliñado</h2>
        <p>Jugoso Tomate aliñado con aceite y vinagre, donde lo puedes acompañar con melva.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/ensaladillapulpo.jpg" alt="tapasfria" />
        <h2>Ensaladilla de Pulpo</h2>
        <p>Pulpo cocido con una gustosa ensaladilla realizada con papa cocida y mayonesa utilizada como aliño y con pimentón.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/ensaladillagamba.jpg" alt="tapasfria" />
        <h2>Ensaladilla de Gambas</h2>
        <p>Gambas cocido con una gustosa ensaladilla realizada con papa cocida y mayonesa utilizada como aliño.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/chicharrondecadiz.jpg" alt="tapasfria" />
        <h2>Chicharrón de Cádiz</h2>
        <p> Estos trozos de chicharrón son tan deliciosos que se han convertido en una tapa clásica.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/huevosrellenos.jpeg" alt="tapasfria" />
        <h2>Huevos Rellenos</h2>
        <p> Consisten en huevos duros cocidos, con diversos ingredientes para crear un relleno sabroso.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
       </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/gambas.jpg" alt="marisco" />
        <h2>Gambas</h2>
        <p>Un plato jugoso y sabroso que te transportará a la costa con cada bocado.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/huevamaruca.jpg" alt="marisco" />
        <h2>Hueva de Maruca</h2>
        <p>Una opción exquisita para los amantes del pescado.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/langostinos.jpg" alt="marisco" />
        <h2>Langostinos</h2>
        <p>Estos langostinos son una explosión de sabor marino </p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/mojama.jpg" alt="marisco" />
        <h2>Mojama</h2>
        <p> Este exquisito aperitivo marino se obtiene mediante un proceso de secado al sol, resaltando su textura firme y su carácter único.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
       </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/atunencebollado.jpg" alt="guisos" />
        <h2>Atún Encebollado</h2>
        <p>Este plato tradicional combina a la perfección la frescura del atún con el dulzor.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Este plato tradicional combina a la perfección la frescura del atún con el dulzor.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
           </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta1.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
           </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="chacinas">
        <img data-src="../img/pizza1.webp" alt="chacinas" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="chacinas">
        <img data-src="../img/pizza2.webp" alt="chacinas" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="chacinas">
        <img data-src="../img/pizza2.webp" alt="chacinas" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="postre">
        <img data-src="../img/postres2.webp" alt="postre" />
        <h2 color: var >Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="postre">
        <img data-src="../img/postres2.webp" alt="postre" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
    </div>
  </section>