<section id="menu" class="menu contenedor">
    <h2 class="texto-platos"><span class="rojo">LA </span>CARTA RA<span class="rojo">TI</span>TOS</h2>
    <div class="botones-platos">
      <button class="todos botones botones-verde">Todos</button>
      <button class="tapasfrias botones botones-verde">tapas frias</button>
      <button class="guisos botones botones-verde">guisos</button>
      <button class="chacinas botones botones-verde">chacinas</button>
      <button class="mariscos botones botones-verde">mariscos</button>
      <button class="postres botones botones-verde">Postres</button>
    </div>
    <div class="platos-container">
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/aliñopulpo.jpg" alt="tapasfria" />
        <h2>Aliño de Pulpo</h2>
        <p>Pulpo cocido y cortado en trozos pequeños, con un variado de aliño de verduras.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/tomatemelva.jpg" alt="tapasfria" />
        <h2>Tomate Aliñado</h2>
        <p>Jugoso Tomate aliñado con aceite y vinagre, donde lo puedes acompañar con melva.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/ensaladillapulpo.jpg" alt="tapasfria" />
        <h2>Ensaladilla de Pulpo</h2>
        <p>Pulpo cocido con una gustosa ensaladilla realizada con papa cocida y mayonesa utilizada como aliño y con pimentón.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/ensalada.webp" alt="tapasfria" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
            </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/ensalada2.webp" alt="tapasfria" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="tapasfria">
        <img data-src="../img/ensalada2.webp" alt="tapasfria" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
       </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/ensalada.webp" alt="marisco" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/ensalada2.webp" alt="marisco" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/ensalada2.webp" alt="marisco" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/ensalada.webp" alt="marisco" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
       </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/ensalada2.webp" alt="marisco" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="marisco">
        <img data-src="../img/ensalada2.webp" alt="tapasfria" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta1.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
           </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta1.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
           </div>
      </div>
      <div class="plato" data-plato="guisos">
        <img data-src="../img/pasta2.webp" alt="guisos" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
          </div>
      </div>
      <div class="plato" data-plato="chacinas">
        <img data-src="../img/pizza1.webp" alt="chacinas" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
         </div>
      </div>
      <div class="plato" data-plato="chacinas">
        <img data-src="../img/pizza2.webp" alt="chacinas" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="chacinas">
        <img data-src="../img/pizza2.webp" alt="chacinas" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="postre">
        <img data-src="../img/postres1.webp" alt="postre" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="postre">
        <img data-src="../img/postres2.webp" alt="postre" />
        <h2 color: var >Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
      <div class="plato" data-plato="postre">
        <img data-src="../img/postres2.webp" alt="postre" />
        <h2>Quinoa</h2>
        <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
        <div class="precio">
          <p>Precio</p>
          <p>T/ 3.5€</p>
          <p>P/ 8€</p>
        </div>
      </div>
    </div>
  </section>