<section id="menu" class="menu contenedor">
  <h2 class="texto-platos">ALGUNAS DE NUESTRAS TAPAS</h2>
  <div class="botones-platos">
  
    <button class="tapasfrias botones botones-verde">tapas frias</button>
    <button class="guisos botones botones-verde">guisos</button>
    <button class="chacinas botones botones-verde">chacinas</button>
    <button class="mariscos botones botones-verde">mariscos</button>
    <button class="postres botones botones-verde">Postres</button>
  </div>

  <div class="platos-container">

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/ensaladillagamba.jpg" alt="tapasfria" />
      <h2>Ensaladilla de Gambas</h2>
      <p>Gambas cocido con una gustosa ensaladilla realizada con papa cocida y
        mayonesa utilizada como aliño.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/ensaladillapulpo.jpg" alt="tapasfria" />
      <h2>Ensaladilla de Pulpo</h2>
      <p>Pulpo cocido con una gustosa ensaladilla realizada con papa cocida y
        mayonesa utilizada como aliño y con pimentón.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/aliñopulpo.jpg" alt="tapasfria" />
      <h2>Aliño de Pulpo</h2>
      <p>Pulpo cocido y cortado en trozos pequeños, con un variado de aliño de
        verduras.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/tomatemelva.jpg" alt="tapasfria" />
      <h2>Tomate Aliñado</h2>
      <p>Jugoso Tomate aliñado con aceite y vinagre, donde lo puedes acompañar
        con melva.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/chicharrondecadiz.jpg" alt="tapasfria" />
      <h2>Chicharrón de Cádiz</h2>
      <p> Estos trozos de chicharrón son tan deliciosos que se han convertido en
        una tapa clásica.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/huevosrellenos.jpeg" alt="tapasfria" />
      <h2>Huevos Rellenos</h2>
      <p> Consisten en huevos duros cocidos, con diversos ingredientes para
        crear un relleno sabroso.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>

    <div class="plato" data-plato="marisco">
      <img data-src="../img/gambas.jpg" alt="marisco" />
      <h2>Gambas</h2>
      <p>Un plato jugoso y sabroso que te transportará a la costa con cada
        bocado.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="marisco">
      <img data-src="../img/huevamaruca.jpg" alt="marisco" />
      <h2>Hueva de Maruca</h2>
      <p>Una opción exquisita para los amantes del pescado.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="marisco">
      <img data-src="../img/langostinos.jpg" alt="marisco" />
      <h2>Langostinos</h2>
      <p>Estos langostinos son una explosión de sabor marino </p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="marisco">
      <img data-src="../img/mojama.jpg" alt="marisco" />
      <h2>Mojama</h2>
      <p> Este exquisito aperitivo marino se obtiene mediante un proceso de
        secado al sol, resaltando su textura firme y su carácter único.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="guisos">
      <img data-src="../img/atunencebollado.jpg" alt="guisos" />
      <h2>Atún Encebollado</h2>
      <p>Este plato tradicional combina a la perfección la frescura del atún con
        el dulzor.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="guisos">
      <img data-src="../img/carrillada.jpg" alt="guisos" />
      <h2>Carrillada</h2>
      <p>La carrillada se caracteriza por su sabor intenso y su textura tierna y
        suave. La carne se deshace fácilmente y se mezcla con la salsa.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="guisos">
      <img data-src="../img/carnecontomate.jpg" alt="guisos" />
      <h2>Carne con Tomate</h2>
      <p> Se trata de una receta tradicional en la que se combina carne,
        generalmente de ternera o cerdo, con una salsa de tomate sabrosa.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="chacinas">
      <img data-src="../img/jamoniberico.jpg" alt="chacinas" />
      <h2>Jamón Iberico</h2>
      <p>El jamón ibérico es una exquisitez y una de las joyas culinarias de
        España. El proceso de elaboración del jamón ibérico es largo y
        meticuloso.
        De ahí la calidad de este producto, famoso en todo el mundo.</p>
      <div class="precio">
        <p>€10</p>
      </div>
    </div>
    <div class="plato" data-plato="chacinas">
      <img data-src="../img/lomoiberico.jpg" alt="chacinas" />
      <h2>Lomo Ibérico</h2>
      <p>La morcilla ibérica es apreciada por su sabor suave y dulce, así como
        por su textura cremosa.
        Se puede disfrutar de diferentes formas, ya sea como parte de un plato
        principal, como</p>
      <div class="precio">
        <p>€12</p>
      </div>
    </div>
    <div class="plato" data-plato="chacinas">
      <img data-src="../img/morcilla.jpg" alt="chacinas" />
      <h2>Morcilla de Hígado</h2>
      <p>La morcilla ibérica es apreciada por su sabor suave y dulce, así como
        por su textura cremosa.
        Se puede disfrutar de diferentes formas, ya sea como parte de un plato
        principal, como un complemento en tapas,</p>
      <div class="precio">
        <p>€8</p>
      </div>
    </div>
    <div class="plato" data-plato="postre">
      <img data-src="../img/helado.jpg" alt="postre" />
      <h2>Helado de crema</h2>
      <p>El helado de crema es un postre popular y refrescante que se disfruta
        en todo el mundo.
        Se caracteriza por su suave y cremosa textura, así como por su sabor
        dulce y agradable.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
    <div class="plato" data-plato="postre">
      <img data-src="../img/tartademanzana.jpg" alt="postre" />
      <h2>Tarta de Manzana</h2>
      <p>La tarta de manzana es un clásico postre que combina la suavidad de una
        masa crujiente con el dulzor y la jugosidad de las manzanas.</p>
      <div class="precio">
        <p>€3.5</p>
      </div>
    </div>
  </div>
</section>