<section id="menu" class="menu contenedor">
  <h2 class="texto-platos">NUESTRAS TAPAS</h2>
  <!-- <div class="botones-platos">
  
    <button class="tapasfrias botones botones-verde">tapas frias</button>
    <button class="guisos botones botones-verde">guisos</button>
    <button class="chacinas botones botones-verde">chacinas</button>
    <button class="mariscos botones botones-verde">mariscos</button>
    <button class="postres botones botones-verde">Postres</button>
  </div> -->

  <div class="platos-container">

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/ensaladillagamba.jpg" alt="tapasfria" />
      <h2>Ensaladilla de Gambas</h2>
      <p>Gambas cocido con una gustosa ensaladilla realizada con papa cocida y
        mayonesa utilizada como aliño.</p>
      <div class="precio">
 
      </div>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/ensaladillapulpo.jpg" alt="tapasfria" />
      <h2>Ensaladilla de Pulpo</h2>
      <p>Pulpo cocido con una gustosa ensaladilla realizada con papa cocida y
        mayonesa utilizada como aliño y con pimentón.</p>
    </div>


    <div class="plato" data-plato="tapasfria">
      <img data-src="../img/tomatemelva.jpg" alt="tapasfria" />
      <h2>Tomate Aliñado</h2>
      <p>Jugoso Tomate aliñado con aceite y vinagre, donde lo puedes acompañar
        con melva.</p>

    </div>
    <div class="plato" data-plato="mariscos">
      <img data-src="../img/bigotes.jpeg" alt="marisco" />
      <h2>Langostinos</h2>
      <p>Langostinos de calidad para poder hacer una degustación de sabor marino.</p>

    </div>
    <div class="plato" data-plato="chacinas">
      <img data-src="../img/jamoniberico.jpg" alt="chacinas" />
      <h2>Jamón Iberico</h2>
      <p>El jamón ibérico es una exquisitez y una de las joyas culinarias de
        España y es famoso en todo el mundo.</p>
 
    </div>
    <div class="plato" data-plato="mariscos">
      <img data-src="../img/gambas.jpg" alt="marisco" />
      <h2>Gambas</h2>
      <p>Un plato jugoso y sabroso que te transportará a la costa con cada
        bocado.</p>


    </div>
    <div class="plato" data-plato="mariscos">
      <img data-src="../img/huevamaruca.jpg" alt="marisco" />
      <h2>Hueva de Maruca</h2>
      <p>Una opción exquisita para los amantes del pescado.</p>

    </div>

    <div class="plato" data-plato="mariscos">
      <img data-src="../img/mojama.jpg" alt="marisco" />
      <h2>Mojama</h2>
      <p> Este exquisito aperitivo marino se obtiene mediante un proceso de
        secado al sol, resaltando su textura firme y su carácter único.</p>

    </div>

    <div class="plato" data-plato="guisos">
      <img data-src="../img/carrillada.jpg" alt="guisos" />
      <h2>Carrillada</h2>
      <p>La carrillada se caracteriza por su sabor intenso y su textura tierna y
        suave. La carne se deshace fácilmente y se mezcla con la salsa.</p>

    </div>



  </div>
</section>