<section id="menu" class="menu contenedor">
  
  <h2 class="texto-platos">NUESTRAS COMIDAS</h2>

  <div class="platos-container">

    <div class="plato" data-plato="tapasfria">
      <img src="../img/ensaladillagamba.jpg" alt="tapasfria" />
      <h2>Ensaladilla de Gambas</h2>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img src="../img/ensaladillapulpo.jpg" alt="tapasfria" />
      <h2>Ensaladilla de Pulpo</h2>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img src="../img/tomatemelva.jpg" alt="tapasfria" />
      <h2>Tomate Aliñado</h2>
    </div>

    <!-- <div class="plato" data-plato="tapasfria">
      <img src="../img/anchoas.jpg" alt="tapasfria" />
      <h2>Anchoas XXX</h2>
    </div> -->

    <div class="plato" data-plato="tapasfria">
      <img src="../img/montaditolomo.jpg" alt="tapasfria" />
      <h2>Montadito Lomo Jamón Iberico</h2>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img src="../img/matrimonio.jpg" alt="tapasfria" />
      <h2>Tosta Matrimonio</h2>
    </div>

    <div class="plato" data-plato="tapasfria">
      <img src="../img/miniburger.jpg" alt="tapasfria" />
      <h2>Mini-Hamburgesa</h2>
    </div>
    
    <div class="plato" data-plato="mariscos">
      <img src="../img/pringa.jpg" alt="marisco" />
      <h2>Montadito Pringá</h2>
    </div>

    <!-- <div class="plato" data-plato="chacinas">
      <img src="../img/chicharroncadiz.jpg" alt="chacinas" />
      <h2>Chicharrón de Cádiz</h2>
    </div> -->

    <div class="plato" data-plato="tapasfria">
      <img src="../img/tostasAtun.jpg" alt="tapasfria" />
      <h2>Tosta de Atún</h2>
    </div>


<!-- 
    <div class="plato" data-plato="chacinas">
      <img src="../img/jamoniberico.jpg" alt="chacinas" />
      <h2>Jamón Iberico</h2>
    </div> -->
    
    <div class="plato" data-plato="mariscos">
      <img src="../img/quesos.jpg" alt="marisco" />
      <h2>Tabla de Quesos</h2>
    </div>

    <!-- <div class="plato" data-plato="mariscos">
      <img src="../img/gambas.jpg" alt="marisco" />
      <h2>Gambas</h2>
    </div> -->

    <!-- <div class="plato" data-plato="mariscos">
      <img src="../img/huevamaruca.jpg" alt="marisco" />
      <h2>Hueva de Maruca</h2>
    </div>

    <div class="plato" data-plato="mariscos">
      <img src="../img/mojama.jpg" alt="marisco" />
      <h2>Mojama</h2>
    </div> -->

    <!-- <div class="plato" data-plato="guisos">
      <img src="../img/bigotes.jpeg" alt="guisos" />
      <h2>Langostinos</h2>
    </div> -->

    <!-- <div class="plato" data-plato="mariscos">
      <img src="../img/pistoGambones.jpg" alt="marisco" />
      <h2>Pisto con Gambones</h2>
    </div> -->

    <div class="plato" data-plato="mariscos">
      <img src="../img/espinacas.jpg" alt="marisco" />
      <h2>Espinacas</h2>
    </div>

    <div class="plato" data-plato="mariscos">
      <img src="../img/menudo.jpg" alt="marisco" />
      <h2>Menudo</h2>
    </div>

    <div class="plato" data-plato="guisos">
      <img src="../img/carrillada.jpg" alt="guisos" />
      <h2>Carrillada</h2>
    </div>

  </div>

</section>