<section class="nosotros">
    <div class="contenedor-nosotros contenedor">
        <div class="texto-nosotros">
          <p class="bienvenida"></p>
          <h1 class="azul">
            Ratitos
            <span class="rojo">de</span>
            Triana
          </h1>
          <p>
            Bienvenido/a a nuestro Bar Ratitos, donde encontrarás una amplia
            selección de tapas y vinos para satisfacer incluso a los paladares más
            exigentes. En nuestro menú, encontrarás una variedad de platos
            elaborados con los ingredientes más frescos Nuestro ambiente es cálido
            y acogedor, además, nuestro personal está comprometido a brindarte un
            servicio excepcional para que tu experiencia sea inolvidable. Así que
            si estás buscando un lugar para disfrutar de buena comida casera,
            excelentes vinos y un ambiente agradable, has venido al lugar
            correcto. ¡Te esperamos con los brazos abiertos!
          </p>
          <button onclick="window.location.href='https://goo.gl/maps/aUthpGFw2i3nAmw46?coh=178571&entry=tt';" class="botones botones-verde">UBICACIÓN</button>

        </div>
        <div class="imagenes-nosotros">
          <div class="imagen1">
            <img data-src="../img/tirador.jpg" alt="" />
          </div>
          <div class="imagenes2">
            <img data-src="../img/lugar.jpg" alt="" />
            <img data-src="../img/entrada.jpg" alt="" />
          </div>
        </div>
      </div>
</section>