<nosotros>
    <div class="contenedor-nosotros contenedor">
        <div class="texto-nosotros">
          <p class="bienvenida"></p>
          <h1 class="azul">
            Ratitos
            <span class="rojo">de</span>
            Triana
          </h1>
          <p>
            Bienvenido/a a nuestro Bar Ratitos, donde encontrarás una amplia
            selección de tapas y vinos para satisfacer incluso a los paladares más
            exigentes. En nuestro menú, encontrarás una variedad de platos
            elaborados con los ingredientes más frescos Nuestro ambiente es cálido
            y acogedor, además, nuestro personal está comprometido a brindarte un
            servicio excepcional para que tu experiencia sea inolvidable. Así que
            si estás buscando un lugar para disfrutar de buena comida casera,
            excelentes vinos y un ambiente agradable, has venido al lugar
            correcto. ¡Te esperamos con los brazos abiertos!
          </p>
          <a class="botones botones-rojo"
            href="https://www.google.com/maps/place/Bar+Ratitos/@37.3860764,-6.0171329,17z/data=!3m1!4b1!4m5!3m4!1s0xd126d7b2111f7f9:0xb157e354ad106fb2!8m2!3d37.3860722!4d-6.0126482">
            UBICACIÓN
          </a>
        </div>
        <div class="imagenes-nosotros">
          <div class="imagen1">
            <img data-src="public/img/tirador.jpg" alt="tirador ratitos" />
          </div>
          <div class="imagenes2">
            <img data-src="public/img/lugar.jpg" alt="salchichon de la casa" />
            <img data-src="public/img/entrada.jpg" alt="plato con pasta" />
          </div>
        </div>
      </div>
</nosotros>