<section  id="pie-paginaSection" class="pie-pagina ">
        <div class="contenedor-piepagina contenedor">
            <div class="info">
                <h3>Dirección</h3>
                <p> <i class='fas fa-map-marker-alt' style='font-size:20px'></i> C/ Rodriguez Zepellin 14</p>
                <p> <i class='fas fa-map-marker-alt' style='font-size:20px'></i> TRIANA 41010</p>
            </div>
            <div class="info">
                <h3>Días especiales</h3>
                <p>Viernes y Sabados 9 AM - 24 PM</p>
                <p>Domingos 9 AM - 18 PM</p>
                <p>+34 619237059</p>
            </div>
            <div class="info">
                <h3>Horarios</h3>
                <p>Lunes - Jueves 7 AM - 17 PM</p>
                <p>Lunes - Jueves 20 PM - 24 PM</p>
                <div class="redes-sociales redes-pie">
                    <a href="https://www.facebook.com/profile.php?id=100089584420816" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/ratitos_detriana/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
                
            </div>
        </div>
    </section>