<section  id="pie-paginaSection" class="pie-pagina ">
        <div class="contenedor-piepagina contenedor">
            <div class="info">
                <h3>Dirección</h3>
                <p> <i class='fas fa-map-marker-alt' style='font-size:20px'></i> 23.Roma Italia 75012</p>
            </div>
            <div class="info">
                <h3>Días especiales</h3>
                <p>Vierne y Sabado 8am - 24pm</p>
                <p>Domindos 9am - 18pm</p>
                <p>+34 619237059</p>
            </div>
            <div class="info">
                <h3>Horarios</h3>
                <p>Lunes - Jueves 7am - 17pm</p>
                <p>Lunes - Jueves 20am - 24pm</p>
                <div class="redes-sociales redes-pie">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="info">
                <h3>Noticias</h3>
                <p>suscribete para recibir más noticias</p>
                <div class="button-container">
                    <button  onclick="window.location.href = 'suscribirse';" class="botones botones-verde">Suscribirse</button>
                </div>
                
                
            </div>
        </div>
    </section>