<section  id="pie-paginaSection" class="pie-pagina ">
        <div class="contenedor-piepagina contenedor">
            <div class="info">
                <h3>Dirección</h3>
                <p><i class='fas fa-map-marker-alt' style='font-size:20px'></i> C/ Rodriguez Zepellin 14</p>
                <p><i class='fas fa-map-marker-alt' style='font-size:20px'></i> TRIANA 41010</p>
                <h3>Teléfono</h3>
                <p><i class='fas fa-phone-alt' style='font-size:20px'></i> 854758543</p>
            </div>
            
            <div class="info">
                <h3>Horarios Fin de Semana</h3>
                <p>Viernes 12:30 H - 24 H</p>
                <p>Sabados 12:30 H - 24 H</p>
                <p>Domingos 12:30 H - 18 H</p>
            </div>
            <div class="info">
                <h3>Horarios entre Semana</h3>
                <p>Lunes - Jueves 12:30 H - 17 H</p>
                <p>Lunes - Jueves 20 H - 24 H</p>
                <div class="redes-sociales redes-pie">
                    <a href="https://www.facebook.com/profile.php?id=100089584420816" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/ratitos_detriana/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
                
            </div>
        </div>
    </section>