<section id="price" class="price">
    <div class="texto-price">
      <h2>MARISCOS</h2>
        <!-- <h2><span class="rojo">Ma</span>ris<span class="rojo">cos</span>en<span class="rojo">Ra</span>ti<span class="rojo">tos</span></h2> -->
      </div>
</section> 