
  <section id="priceSection" class="price">
    <div class="texto-encabezado">
      <h2>MA<span class="rojo">RIS</span>COS</h2>
      <p>¿Buscas el lugar perfecto para comer marisco?</p>
      <a href="#" class="botones botones-verde">CARTA</a>
    </div>
  </section>

