<section id="priceSection" class="price">
  <div class="texto-encabezado">
    <img  class="logonuevo" src="../img/logonuevo.jpg" alt="">
    <p>¿Buscas el lugar perfecto para comer marisco?</p>
    <a href="#" class="botones botones-rojo">CARTA</a>
  </div>
</section>