<section id="separadorSection" class="separador">
  <div class="texto-encabezado">
    <h2>EVENTOS</h2>
    <p>Comienza con una buen lugar de reunión</p>
    <a href="#pie-paginaSection" class="botones botones-verde">LLÁMANOS</a>
  </div>
</section>
