<section class="separador2">
    <div id="contacto" class="formulario-contacto contenedor">
      <div class="informacion-contacto">
        <h3>¿QUIERES TRABAJAR CON NOSOTROS?</h3>
        <p>
            <i class='fas fa-map-marker-alt' style='font-size:24px'></i>
          Si deseas compartir la experiencia de trabajar en uno de los mejores
          restaurantes de Sevilla, rellena el siguiente
          formulario y envíanos tus datos de contacto, hablamos sobre tí:
          tu formación, experiencia…etc.
          ¡Estaremos encantados de recibirte!
        </p>

        <div class="redes-sociales">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="container px-5 my-5">
        <form action="/cv" method="POST" enctype="multipart/form-data">
          <fieldset>
            <legend class="form-legend">Contact Form</legend>
            <div class="form-floating mb-3">
              <input class="form-control" id="emailAddress" type="email" name="emailAddress" placeholder="Email Address" required />
              <label for="emailAddress">Email Address</label>
              <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="message" name="message" placeholder="Message" style="height: 10rem;" required></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback">Please enter a message.</div>
            </div>
            <div class="form-floating mb-3">
              <input id="fileInput" type="file" name="file" />
              <label for="fileInput">Archivo</label>
            </div>
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder" style="color: white;">Form submission successful!</div>
              </div>
            </div>
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
      

    </div>
  </section>
