<section id="separadorSection" class="separador">
  <div class="texto-separador">
    <h2>ESPACIOS</h2>
    <p>Comienza con un buen lugar de reunión</p>
    <a href="gallery" class="botones botones-evento">El Bar</a>
  </div>
</section>
