<section class="separador2">
    <div id="contacto" class="formulario-contacto contenedor">
      <div class="informacion-contacto">
        <h3>¿QUIERES TRABAJAR CON NOSOTROS?</h3>
        <p>
            <i class='fas fa-map-marker-alt' style='font-size:24px'></i>
          Si deseas compartir la experiencia de trabajar en uno de los mejores
          restaurantes de Sevilla, rellena el siguiente
          formulario y envíanos tus datos de contacto, hablamos sobre tí:
          tu formación, experiencia…etc.
          ¡Estaremos encantados de recibirte!
        </p>

        <div class="redes-sociales">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>

      <div class="container px-5 my-5">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <div class="form-floating mb-3">
            <input class="form-control" id="emailAddress" type="email" placeholder="Email Address"
              data-sb-validations="required,email" />
            <label for="emailAddress" style="color: black;">Email Address</label>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"
              data-sb-validations="required"></textarea>
            <label for="message" style="color: black;">Message</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
          </div>
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder" style="color: white;">Form submission successful!</div>

            </div>
          </div>
          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
          </div>
          <div class="form-floating mb-3">
            <input  id="fileInput" type="file" name="file" />
            <label for="fileInput" style="color: black;">Archivo</label>
          </div>
            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
        </form>
      </div>
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    </div>
  </section>
