<div class="separador">
    <div class="texto-encabezado">
      <h2>Lugar para celabrar eventos</h2>
      <p>Comienza con una buen lugar de reunión</p>
      <a href="#nosotros" class="botones botones-verde">QUIENES SOMOS</a>
    </div>
  </div>