/* Estilos para la sección Nosotros */
@media (min-width: 768px) {
    .contenedor-nosotros {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem; /* Ajusta el margen superior según tus necesidades */
    }
  
    .texto-nosotros {
      flex: 0 0 calc(60% - 2rem); /* Ajusta el espacio del texto-nosotros y el margen derecho */
      margin-right: 2rem;
      text-align: left;
    }
  
    .imagenes-nosotros {
      flex: 0 0 calc(40% - 2rem); /* Ajusta el espacio de las imágenes-nosotros y el margen izquierdo */
      margin-left: 2rem;
      text-align: right;
    }
  
    .texto-nosotros h1 {
      font-size: 4.5rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
  
    .texto-nosotros p {
      font-size: 1.8rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
  
    .botones-azul {
      font-size: 1.6rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
      padding: 1rem 2rem;
    }
  }
  
  .imagenes-nosotros img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  
  
  