:root{
    --verde:#00A149;
    --azul: #191970;
    --azulclaro:rgb(38, 107, 211);
    --evento:#70683c;
    --eventohover: #d3bc39;
    --blanco:#fff;
    --rojo:#881014;
    --oscuro:#000;
    --titulos:var(--azul);
    --titulos-size: 2.4rem;
    --parrafos:'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    overflow-x: hidden;
}

*,*::after, *::before{
    box-sizing: inherit;
}
/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
/* h1,h2{

    font-size: var(--titulos-size);
    
} */
/* Tamaño de fuente predeterminado para h2 */
h1,h2 {
    font-size: var(--titulos-size);
  }
/* Media Query para pantallas pequeñas (ejemplo: dispositivos móviles) */
@media (max-width: 768px) {
    h2 {
      font-size: 80%; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
  }




h3, p, a{
    font-family: var(--parrafos);
}

img{
    max-width: 100%;
}
.verde{
    color: var(--verde);
}
.rojo{
    color: var(--rojo);
}
.azul{
    color: var(--azul);
}
.ocultar{
    display: none;
    
}
.botones-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--azul);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;

}
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--azul);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;

}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);  
    z-index: 4;
}

@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform:translateX(0);
    }
}

.botones-cerrar:hover{
    cursor: pointer;
}

.botones{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    justify-content: center;
}

.botones-verde:hover {
    color: white;
  }
@media(min-width: 768px) {
    .botones{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid var(--blanco);
}
@media(min-width: 768px) {
    .bordes{
        border: 4px solid var(--blanco);
    }
}

.bordes:hover{
    color: var(--verde);
    background-color: var(--blanco);
    text-decoration: none;
}
.botones-rojo{
    background-color: var(--azul);
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.botones-rojo:hover{
    background-color: var(--azulclaro);
    text-decoration: none;
    color: white;
}
.botones-verde{
    background-color: var(--azul);
    border: none;
    display: inline-block;
    margin-bottom: 6rem;
    font-family: var(--parrafos);
    
}
.botones-evento:hover{
    background-color: var(--eventohover);
    text-decoration: none;
}

.botones-evento{
    background-color: var(--evento);
    border: none;
    display: inline-block;
    margin-bottom: 6rem;
    font-family: var(--parrafos);
    
}
.botones-verde:hover{
    background-color: var(--azulclaro);
    text-decoration: none;
}
 
/* encabezado */
.contenedor-navegacion {
    background-color: var(--blanco);
    position: relative;
    z-index: 5;
    padding: 2rem 0;
  }
  
  .contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo h2, .navegacion a {
    color: var(--azul);
    text-decoration: none;
  }
  
  .logo h2 {
    font-size: 2rem;
    transform: scale(2.9);
  }
  
  .navegacion a {
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .navegacion a {
      text-align: left;
    }
  }
  
  .navegacion a:nth-child(even):hover {
    color: var(--rojo);
  }
  
  .navegacion a:nth-child(odd):hover {
    color: var(--verde);
  }
  
  .navegacion a:first-of-type {
    margin-top: 5rem;
  }
  
  .navegacion {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%; /* Ajusta el ancho al 100% para pantallas más pequeñas */
    max-width: 40rem;
    padding: 3rem 2rem; /* Ajusta el relleno para pantallas más pequeñas */
    background-color: var(--blanco);
    animation: desplazamiento 1s ease-in-out;
  }
  
  /* video */
  .contenido-header {
    position: relative;
  }
  
  .contenido-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .texto-encabezado {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .texto-encabezado h2 {
    color: var(--blanco);
    font-size: 8rem;
  }
  
  .texto-encabezado p {
    color: var(--blanco);
    font-size: 5rem;
  }

  video {
    width: 100%;
    height: 100%;
  }

    /* Media queries para hacer la sección Price responsive */
    @media (max-width: 1024px) {
        #contenedor-encabezado .texto-encabezado h2 {
          font-size: 80px;
        }
      }
      
      @media (max-width: 768px) {
        #contenedor-encabezado .texto-encabezado h2 {
          font-size: 60px;
        }
      
        .contenedor-encabezado {
          height: 250px;
        }
      }
      
      @media (max-width: 480px) {
        #contenedor-encabezado .texto-encabezado h2 {
          font-size: 40px;
        }
      
        .contenedor-encabezado {
          height: 200px;
        }
      }
  

/* sobre nosotros */
.contenedor-nosotros{
    padding: 5rem 0;
    align-items: center;
    
}
@media(min-width: 768px) {
    .contenedor-nosotros{
        display: flex;
         justify-content: space-between;
    }   
}
.texto-nosotros .imagenes-nosotros{
   
    flex: 0 0 calc(60% - 2rem) ;
}
.texto-nosotros .bienvenida{
    font-size: 4rem;
    color: var(--verde);
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros .bienvenida{
        text-align: left;
    }
}
.texto-nosotros h1{
    font-size: 5rem;
    text-align: left;
}
@media(min-width: 768px) {
    .texto-nosotros h1{
        text-align: left;
    }
}
.texto-nosotros p{
    font-size: 2rem;
    text-align: left;
}
@media(min-width: 768px) {
    .texto-nosotros p{
        text-align: left;
        
    }
}













.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img{
    border-radius: 5px;
}
.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem);
}
.imagenes2 img{
    margin-bottom: 1rem;
}










.menu{
    padding: 5rem 0;
}
/*platos*/
.texto-platos{
    text-align: center;
    font-size: 5rem;
    color: var(--azul);
}

.botones-platos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
}
.botones-platos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
    justify-content: center;
    margin-right: 1rem;
}
.botones-platos button:last-child {
  margin-right: 0; /* No se aplica margen al último botón */
}
@media(min-width: 768px) {
    .botones-platos{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .botones-platos button{
     justify-content: center;
        flex: unset;
    }
}
@media(min-width: 768px) {
    .platos{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
.platos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
/* Establece los estilos para cada plato */
.plato {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #e1e1e1;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 1rem; /* Añade un margen inferior para separar los platos */
  }
.plato h2{
    text-align: center;
    padding: 1rem;
    color: var(--azul);
}
.plato p{
    font-size: 1.8rem;
    color: var(--azul);

}
/* Agrega estilos para las imágenes dentro de la sección de platos */
.plato img {
    width: 100%; /* Establece el ancho al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
    max-width: 100%; /* Establece el ancho máximo al 100% */
    display: block; /* Elimina el espacio adicional debajo de las imágenes */
    margin: 0 auto; /* Centra las imágenes dentro de su contenedor */
    object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
    max-height: 200px; /* Establece una altura máxima para todas las imágenes */
  }
  

.precio{
    display: flex;
    justify-content: space-between;
}
.precio p{
    font-weight: bold;
    font-size: 2rem;
    color: var(--azul);
   
}




/*
Este el div separador
*/

/*Seccion Separador*/

#separadorSection {
    background: url(../img/brindis.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
     
}
#separadorSection .texto-encabezado {
    max-width: 100%;
    padding: 20px;
  }
  
  #separadorSection .texto-encabezado h2 {
    color: #70683c;
    font-size: 100px;
  }
  
  #separadorSection .texto-encabezado p {
    font-size: 4rem;
    color: #70683c;
  }
  
  #separadorSection .botones {
    display: inline-block;
    margin-top: 20px;
    color: white;
  }

  /*Final de Seccion Separador */

  

/* Seccion Price */
.price {
    background: url(../img/86261947792.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px; /* Ajusta la altura según tus necesidades */
  }
  
  #price .texto-encabezado h2 {
    color: #f3e8c9;
    font-size: 100px;
  }
  
  /* Media queries para hacer la sección Price responsive */
  @media (max-width: 1024px) {
    #price .texto-encabezado h2 {
      font-size: 80px;
    }
  }
  
  @media (max-width: 768px) {
    #price .texto-encabezado h2 {
      font-size: 60px;
    }
  
    .price {
      height: 250px;
    }
  }
  
  @media (max-width: 480px) {
    #price .texto-encabezado h2 {
      font-size: 40px;
    }
  
    .price {
      height: 200px;
    }
  }
  
  
  


  /* FinalSeccion Price*/

/* Seccion Separador2*/
.separador2 {
    background-image: url(../img/unchef.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 2rem 0;
  }
  
  .separador2 .formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .separador2 .informacion-contacto,
  .separador2 .container {
    width: 100%;
    max-width: 600px;
  }
  
  .separador2 .informacion-contacto h3,
  .separador2 .informacion-contacto p {
    text-align: left;
  }
  
  .separador2 .redes-sociales {
    text-align: left;
  }
  
  /* Estilos para pantallas grandes */
  @media screen and (min-width: 992px) {
    .separador2 .formulario-contacto {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .separador2 .informacion-contacto {
      flex: 0 0 50%;
    }
    
    .separador2 .container {
      flex: 0 0 50%;
    }
    
    .separador2 .formulario-contacto .form-floating {
      width: 100%;
    }
  }
  
  /*Final de seccion Separador 2*/

  /*Seccion Price*/
  #priceSection {
    background: url(../img/86261947792.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
}
#priceSection .texto-encabezado {
    max-width: 100%;
    padding: 20px;
  }
  
  #priceSection .texto-encabezado h2 {
    font-size: 100px;
  }
  
  #priceSection .texto-encabezado p {
    font-size: 4rem;
  }
  
  #priceSection .botones {
    display: inline-block;
    margin-top: 20px;
  }

  /* FinalSeccion Price*/


.separador::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: -1;
}

.contenido-separador{
    margin: 0 auto;
    padding: 8rem 0;
    align-items: center;
    justify-content: center;
    
}

.contenido-separador h2{
    font-size: 4rem;
    color: var(--blanco);
    
}
@media(min-width: 768px) {
    .contenido-separador h2{
        text-align: center;
        font-size: 5rem;
        color: var(--blanco);
    }
}
.contenido-separador p{
    color: var(--blanco);
    font-size: 3rem;
    text-align: center;
}
@media(min-width: 768px) {
    .contenido-separador p{
        text-align: center;
    }
}

/*seccion del chef*/



@media(min-width: 768px) {
    .contenido-chef{
        display: flex;
        justify-content: space-between;
        
    }
}

.texto-chef {
    flex: 0 0 calc(60% - 1rem);
    margin-right: 1rem; /* Ajusta el margen derecho del elemento texto-chef */
    padding: 8rem 0;
}

.imagen-chef{
   
    flex: 0 0 calc(40% - 1rem);
    max-width: 100%; /* Ajustar el tamaño máximo de la imagen al contenedor */
    height: auto;
    padding: 4rem 0;

}
.texto-chef h3{
    font-size: 3rem;

}
.texto-chef p{
    font-size: 2rem;
    
}
/*formulario contacto*/
.formulario-contacto{
    padding: 5rem 0;
}

@media(min-width: 768px) {
    .formulario-contacto{
        display: flex;
    }
}

.form-floating label {
    color: white;
    font-size: 18px;
  }
  .fw-bolder {
    color: white;
    font-size: 18px;
  }
.informacion-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion-contacto, .formulario{
    flex: 0 0 calc(50% - 1rem);
}
.informacion-contacto{
    background-color: inherit;
    padding: 2rem;
}

.informacion-contacto h3, .informacion-contacto p, .redes-sociales i{
    color: var(--blanco);
}
.informacion-contacto h3{
    font-size: 4rem;
    font-family: var(--titulos);
}

.informacion-contacto p{
    font-size: 2.2rem;
  
}
.informacion-contacto i{
    margin-right: 1rem;
}

.redes-sociales{
    font-size: 3rem;
}

.formulario{
    padding: 5rem;
}

.input-formulario label{
    display: block;
    font-size: 2rem;
    font-family: var(--parrafos);
    margin-bottom: 1.5rem;
}

.input-formulario input, .input-formulario textarea{
    width: 100%;
}
.input-formulario input, .input-formulario textarea{
    padding: 1rem 1.6rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: none;
    font-family: var(--parrafos);
}
.input-formulario textarea{
    height: 20rem;
    resize:none;
}

.pie-pagina{
    margin-top: 5rem;
    background-color: rgb(20,20,20);
    padding: 5rem;
}
@media(min-width:768px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }

}
.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 2rem;
}
.info h3, .info p{
    color: var(--blanco);
    text-align: center;
}
.info h3{
    font-size: 2.2rem;
}
.info p{
    font-size: 1.8rem;
}

.redes-pie{
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 2rem;
    font-size: 2rem;
}