:root{
    --verde:#00A149;
    --azul: #191970;
    --azulclaro:rgb(38, 107, 211);
    --evento:#70683c;
    --eventohover: #d3bc39;
    --blanco:#fff;
    --rojo:#881014;
    --oscuro:#000;
    --titulos:var(--azul);
    --titulos-size: 2.4rem;
    --parrafos:'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}



/*globales*/
.contenedor {
  max-width: 140rem;
  margin: 15px auto 0; /* Agrega 20px de margen superior */
  width: 90%;
}




.botones{
    text-decoration: none; 
    color: var(--blanco);
    font-size: 2rem;
    /* text-transform: capitalize; */
    padding: 1rem 5rem;
    border-radius: 5px; 
     transition: all .3s ease-in-out;
     justify-content: center;
}


.botones-azul{
    background-color: var(--azul);
    border: none;
    display: inline-block;
    margin-bottom: 6rem;
    font-family: var(--parrafos);
    
}
.botones-azul:hover{
    background-color: var(--azulclaro);
    border: none;
   
}

.botones-evento{
    background-color: var(--evento);
    border: none;
    display: inline-block;
    margin-bottom: 6rem;
    font-family: var(--parrafos);
    
}

.botones-evento:hover{
    background-color: var(--eventohover);
    text-decoration: none;
}

 

  

  
  /* video
  .contenido-header {
    position: relative;
  }
   */





