:root{
    --verde:#00A149;
    --azul: #191970;
    --azulclaro:rgb(38, 107, 211);
    --evento:#70683c;
    --eventohover: #d3bc39;
    --blanco:#fff;
    --rojo:#881014;
    --oscuro:#000;
    --titulos:var(--azul);
    --titulos-size: 2.4rem;
    --parrafos:'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    overflow-x: hidden;
}

*,*::after, *::before{
    box-sizing: inherit;
}
/*globales*/
.contenedor {
  max-width: 140rem;
  margin: 15px auto 0; /* Agrega 20px de margen superior */
  width: 90%;
}


img {
    max-width: 100%;
    height: auto;
}

.botones{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    justify-content: center;
}


.botones-azul{
    background-color: var(--azul);
    border: none;
    display: inline-block;
    margin-bottom: 6rem;
    font-family: var(--parrafos);
    
}
.botones-azul:hover{
    background-color: var(--azulclaro);
    text-decoration: none;
}

.botones-evento{
    background-color: var(--evento);
    border: none;
    display: inline-block;
    margin-bottom: 6rem;
    font-family: var(--parrafos);
    
}

.botones-evento:hover{
    background-color: var(--eventohover);
    text-decoration: none;
}

 
/* encabezado */
.contenedor-navegacion {
    background-color: var(--blanco);
    position: relative;
    z-index: 5;
    padding: 2rem 0;
  }
  
  .contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo h2, .navegacion a {
    color: var(--azul);
    text-decoration: none;
  }
  
  .logo h2 {
    font-size: 2rem;
    transform: scale(2.9);
  }
  
  /* .navegacion a {
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .navegacion a {
      text-align: left;
    }
  }
  
  .navegacion a:nth-child(even):hover {
    color: var(--rojo);
  }
  
  .navegacion a:nth-child(odd):hover {
    color: var(--verde);
  }
  
  .navegacion a:first-of-type {
    margin-top: 5rem;
  }
  
  .navegacion {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%; 
    max-width: 40rem;
    padding: 3rem 2rem; 
    background-color: var(--blanco);
    animation: desplazamiento 1s ease-in-out;
  } */
  
  /* video */
  .contenido-header {
    position: relative;
  }
  
  .contenido-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .texto-encabezado {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .texto-encabezado h2 {
    color: var(--blanco);
    font-size: 8rem;
  }
  
  .texto-encabezado p {
    color: var(--blanco);
    font-size: 5rem;
  }

  video {
    width: 100%;
    height: 100%;
  }

