.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* Estilos para la lista de navegación */
.nav.nav-pills {
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0; /* Elimina el relleno de la lista */
}

.nav.nav-pills li.nav-item {
  display: inline; /* Muestra los elementos de la lista en línea uno al lado del otro */
  margin-right: 10px; /* Añade un margen entre los elementos de la lista */
}

.nav.nav-pills li.nav-item a.nav-link {
  text-decoration: none; /* Quita la decoración de enlace subrayado */
  font-size: 16px; /* Cambia el tamaño de fuente según tus preferencias */
  color:  #191970; /* Cambia el color de texto según tus preferencias */
  /* Otros estilos personalizados aquí */
}

