/* encabezado */
.contenedor-navegacion {
  background-color: var(--blanco);
  padding: 2rem 0;
}

.contenido-navegacion {
  display: flex;
  justify-content: space-between;
}

.texto-encabezado {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;
  display: flex; /* Hacer que el contenedor sea un flexbox */
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
}

.texto-encabezado h2 {
  color: var(--blanco);
  font-size: 6rem;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .contenido-navegacion {
    flex-direction: column; /* Cambiar a disposición de columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos en el eje X */
  }

  .texto-encabezado {
    height: auto; /* Ajusta la altura automáticamente en pantallas más pequeñas */
    padding: 1rem; /* Ajusta el relleno en pantallas más pequeñas */
    text-align: center; /* Centra el texto en pantallas más pequeñas */
  }

  .texto-encabezado h2 {
    font-size: 4rem; /* Ajusta el tamaño de fuente en pantallas más pequeñas */
  }
}


.texto-encabezado p {
  color: var(--blanco);
  font-size: 5rem;
}

.nav.nav-pills li.nav-item a.nav-link {
  text-decoration: none; /* Quita la decoración de enlace subrayado */
  font-size: 16px; /* Cambia el tamaño de fuente según tus preferencias */
  color:  #3d3d49; /* Cambia el color de texto según tus preferencias */
  /* Otros estilos personalizados aquí */
}

.nav-pills li:not(:last-child) {
  border-right: 1px solid #ccc; /* Ajusta el estilo del separador según tus preferencias */
  padding-right: 10px; /* Ajusta el espacio entre los elementos según tus preferencias */
}

