/* encabezado */
.contenedor-navegacion {
  background-color: var(--blanco);
  padding: 2rem 0;
}

.contenido-navegacion {
  display: flex;
  justify-content: space-between;
}

.texto-encabezado {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;
  display: flex; /* Hacer que el contenedor sea un flexbox */
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
}

.texto-encabezado h2 {
  color: var(--blanco);
  font-size: 6rem;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .contenido-navegacion {
    flex-direction: column; /* Cambiar a disposición de columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos en el eje X */
  }



  .texto-encabezado p {
    font-size: 3rem; /* Ajusta el tamaño de fuente en pantallas más pequeñas */
  }
  

}


.nav.nav-pills li.nav-item a.nav-link {
  text-decoration: none; /* Quita la decoración de enlace subrayado */
  font-size: 16px; /* Cambia el tamaño de fuente según tus preferencias */
  color:  #3d3d49; /* Cambia el color de texto según tus preferencias */
  /* Otros estilos personalizados aquí */
}

.nav-pills li:not(:last-child) {
  border-right: 1px solid #ccc; /* Ajusta el estilo del separador según tus preferencias */
  padding-right: 10px; /* Ajusta el espacio entre los elementos según tus preferencias */
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-ratitos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.texto-ratitos h2 {
  color: white; /* Ajusta el color del texto según el fondo del video */
  font-size: 3rem; /* Ajusta el tamaño de la fuente según tus preferencias */
}


/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  /* Otros estilos para pantallas pequeñas */
  .texto-ratitos h2 {
    font-size: 2.5rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

/* Estilos para pantallas más grandes (versión web) */
@media screen and (min-width: 769px) {
  /* Otros estilos para pantallas grandes (versión web) */
  .texto-ratitos h2 {
    font-size: 6rem; /* Tamaño de fuente más grande para pantallas grandes (versión web) */
  }
}
