
/*Seccion Separador*/

#separadorSection {
    background: url(../img/brindis.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
     
}
#separadorSection .texto-encabezado {
    max-width: 100%;
    padding: 20px;
  }
  
  #separadorSection .texto-encabezado h2 {
    color: #70683c;
    font-size: 100px;
  }
  
  #separadorSection .texto-encabezado p {
    font-size: 4rem;
    color: #70683c;
  }
  
  #separadorSection .botones {
    display: inline-block;
    margin-top: 20px;
    color: white;
  }
